@charset "UTF-8";
/******** Fonts **********/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/******** Base styles **********/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

input {
  display: block;
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1200px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 0.73;
  letter-spacing: 1.5px;
  margin-bottom: 32px;
}

.subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.47;
  letter-spacing: 0.75px;
}

.button {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.item-img {
  display: inline-block;
}

.item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 1px;
}

.item-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.47;
  letter-spacing: 0.75px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/********** Header ***********/
.logo {
  width: 226px;
  height: 63px;
}

.search {
  width: 17px;
  height: 17px;
}

.menu-bar {
  padding-top: 25px;
  padding-bottom: 32px;
}
.menu__item {
  align-items: center;
  margin-left: 4.8%;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__link {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 1px;
}

/********** Main ***********/
.main {
  background-color: #393939;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header-bg.jpg);
  color: #ffffff;
  background-size: 122%;
  background-position: 69% 31%;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 187px;
}
.main__title {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 24px;
}
.main__subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.1px;
  margin-bottom: 111px;
}
.main .button {
  color: #ffffff;
  line-height: 1.1;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background-color: #00897b;
  padding: 20px;
  min-width: 220px;
  border: solid 3px #00897b;
  margin-right: 25px;
}
.main .button:last-child {
  margin-right: 0;
}
.main .button:hover {
  border: solid 3px #f8f8f8;
  background-color: transparent;
}
.main .button:active {
  border: solid 3px #00897b;
  background-color: #00897b;
}

/****************About***************/
.about {
  text-align: center;
  padding-top: 127px;
  padding-bottom: 106px;
}
.about .subtitle {
  margin-bottom: 122px;
}
.about__item-img {
  width: 63px;
  height: 63px;
  display: inline-block;
  margin-bottom: 36px;
}
.about .item-title {
  margin-bottom: 17px;
}

/****************Services***************/
.services {
  background-color: #e4fdf9;
  text-align: center;
  padding-top: 176px;
  padding-bottom: 90px;
}
.services .title {
  margin-bottom: 30px;
}
.services .subtitle {
  margin-bottom: 110px;
}
.services__item {
  background-color: #ffffff;
  transition: 0.3s;
  padding: 59px 50px 49px;
  margin-bottom: 28px;
}
.services__item:hover {
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.35);
  background-color: #00897b;
  color: #ffffff;
}
.services__item:hover .button {
  border: solid 2px #ffffff;
}
.services__item:hover .services__item-img path {
  fill: #ffffff;
}
.services__item-img {
  width: 46px;
  height: 62px;
  margin-bottom: 36px;
}
.services__item-img path {
  fill: #000000;
}
.services .item-title {
  margin-bottom: 14px;
}
.services .item-text {
  line-height: 1.67;
  margin-bottom: 43px;
}
.services .button {
  padding: 11px;
  border: solid 2px #212121;
}
.services .button:hover {
  border: solid 2px #ffffff;
  color: #ffffff;
}
.services .button:active {
  border: solid 2px #212121;
  color: #000000;
}
.services__item-button {
  display: inline-block;
}

/****************Works***************/
.works {
  text-align: center;
  padding-top: 128px;
  padding-bottom: 136px;
}
.works .title {
  margin-bottom: 30px;
}
.works .subtitle {
  margin-bottom: 111px;
}
.works__menu {
  margin-bottom: 119px;
}
.works__menu-button {
  border: solid 2px #00897b;
  color: #212121;
  margin-right: 15px;
  padding: 11px;
  min-width: 179px;
}
.works__menu-button:first-child {
  min-width: 100px;
  margin-right: 20px;
}
.works__menu-button:last-child {
  margin-right: 0;
}
.works__menu-button:hover {
  background-color: #00897b;
  color: #ffffff;
}
.works__menu-button:active {
  border: solid 2px #00897b;
  color: #212121;
  background-color: transparent;
}
.works__menu .focused {
  background-color: #00897b;
  color: #ffffff;
}
.works__gallery-item {
  margin-bottom: 30px;
  position: relative;
}
.works__gallery-item:hover img {
  filter: brightness(50%);
  transition: 0.3s;
}
.works__gallery-item:hover .works__gallery-text-hover {
  display: block;
}
.works__gallery-button {
  color: #ffffff;
  line-height: 1.1;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background-color: #00897b;
  padding: 21px 60px;
  border: solid 3px #00897b;
  margin-top: 99px;
}
.works__gallery-button:hover {
  border: solid 3px #00897b;
  background-color: transparent;
  color: #00897b;
}
.works__gallery-button:active {
  border: solid 3px #00897b;
  background-color: #00897b;
  color: #ffffff;
}
.works__gallery-text-hover {
  display: none;
  position: absolute;
  color: #ffffff;
  top: 47%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.works__gallery-text-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.works__gallery-text-subtitle {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.47;
  letter-spacing: 0.75px;
}

/******** Pricing **********/
.pricing {
  text-align: center;
  background-color: #f0f1f1;
  padding-top: 129px;
  padding-bottom: 125px;
}
.pricing .title {
  margin-bottom: 30px;
}
.pricing .subtitle {
  margin-bottom: 123px;
}
.pricing__item {
  background-color: #ffffff;
  padding-bottom: 63px;
  transition: 0.5s;
}
.pricing__item-header {
  color: #ffffff;
  background-image: url(../img/price-bg.png);
  background-size: cover;
  padding-top: 44px;
  padding-bottom: 49px;
  margin-bottom: 34px;
}
.pricing__item-header sup {
  font-size: 25px;
  vertical-align: text-top;
}
.pricing__item-header sub {
  font-size: 17px;
  letter-spacing: 0.85px;
  vertical-align: text-top;
}
.pricing__item-title {
  font-size: 25px;
  letter-spacing: 1.35px;
  font-weight: 400;
  margin-bottom: 14px;
}
.pricing__item-price {
  font-size: 50px;
  letter-spacing: 2.5px;
}
.pricing__item-info {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.85px;
  color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.39;
  margin-bottom: 44px;
}
.pricing__item-info li {
  margin-bottom: 22px;
  min-width: 178px;
  border-bottom: solid 1px #bfbfbf;
}
.pricing__item-button {
  border: solid 2px #000000;
  color: #212121;
  padding: 13px 22px;
}
.pricing__item-button:hover {
  border: solid 2px #00897b;
  background-color: #00897b;
  color: #ffffff;
}
.pricing__item-button:active {
  color: #212121;
  background-color: transparent;
}
.pricing__item:hover {
  box-shadow: 0px 3px 25px 0 rgba(0, 0, 0, 0.35);
}

/******** Team **********/
.team {
  text-align: center;
  padding-top: 122px;
  padding-bottom: 265px;
}
.team .subtitle {
  margin-bottom: 126px;
}
.team__item-img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.team__item-info {
  margin-bottom: 28px;
}
.team__item-name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.team__item-function {
  font-size: 15px;
  letter-spacing: 0.75px;
}
.team__item-link {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f1f1;
  margin-right: 22px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 0.5s;
}
.team__item-link:last-child {
  margin-right: 0;
}
.team__item-link-icon path {
  fill: #00897b;
}
.team__item-link:hover {
  background-color: #3949ab;
}
.team__item-link:hover .team__item-link-icon path {
  fill: #ffffff;
}

/****************Footer***************/
/********** Footer-top***********/
/******* Media **********/
/********** Interaktive ***********/
@media (min-width: 992px) {
  .header-nav__item {
    position: relative;
  }
  .header-nav__item:hover::before {
    transform: scaleX(1);
  }
  .header-nav__item::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.25s;
  }
}
/********** Мобильное меню ***********/ /*# sourceMappingURL=style.css.map */